@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --primary: #b1b2ff;
  --sub-color: #aac4ff;
  --other-color: #eef1ff;
  --white: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
}

body {
  font-family: 'Roboto', sans-serif;
}
