@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --primary: #eb6b34;
  --sub-color: #289deb;
  --other-color: #339e53;
  --white: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
}

body {
  font-family: 'Roboto', sans-serif;
}
